@import "variables";

.container {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;

  @include md {
    width: 100%;
  }
}

.componentTitle {
  @include md {
    display: none;
  }
}

.emptyMessage {
  font-size: 2rem;
  background-color: whitesmoke;
  width: 100%;
  padding: 2rem;
}

.table {
  width: 100%;
  height: 10rem;

  @include md {
    height: 8rem;
  }
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: whitesmoke;

  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 2rem;

  @include md {
    border: none;
    border-bottom: 1px solid $color-border;
    border-radius: 0;
    margin-bottom: 0;
    padding: 1rem;
    cursor: pointer;
  }
}

.cell {
  width: 30rem;
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 100%;

  @include md {
    font-size: 1.5rem;
  }
}

.formIcon {
  margin-right: 1rem;
  font-size: 4rem;
  color: lighten($color-text-primary, 30%);
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include md {
    display: none;
  }
}
