@import "variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formEditContainer {
  width: 80rem;
}

.controlsContainer {
  border: 1px solid red;
}

.formSection {
  width: 100%;
  min-height: 10rem;
  margin-bottom: 3rem;
  padding: 2rem;

  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
}

:global .medscribe h2 {
  margin-bottom: 2rem;
}
