@import "variables";

.sectionHeader {
  font-size: 3rem;
  color: $color-button-primary;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  flex-shrink: 0;
}

.datetime {
  flex-basis: 50%;

  @include md {
    flex-basis: 100%;
  }
}

.dropdown {
  flex-basis: 100%;

  @include md {
    flex-basis: 100%;
  }
}
