@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 3rem;
  box-shadow: $box-shadow-home;

  @include md {
    box-shadow: none;
    padding: 2rem;
    border-bottom: 1px solid $color-border;
  }
}

.siteName {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: $color-button-primary;
  cursor: pointer;

  @include md {
    font-size: 2rem;
  }
}

.rightNav {
  display: flex;
  justify-content: space-around;

  @include md {
    display: none;
  }
}

.rightNavHamburger {
  display: none;

  @include md {
    display: block;
  }
}
