@import "variables";

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 5rem;
}

.intake {
  width: 80rem;
  margin-top: 2rem;
  font-size: 2rem;
  box-shadow: $box-shadow-light;
}

.title {
  color: white;
  padding: 0;
  margin: 0;
}

.titleContainer {
  padding: 1.5rem 2rem;

  background-color: $color-button-primary;
  line-height: 300%;
}

.descriptionContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
  background-color: whitesmoke;
}

.description {
  font-size: 2rem;
}

.sectionContainer {
  padding-left: 2rem;
  padding-right: 2rem;
}
