@import "variables";

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.intake {
  width: 80rem;
  background-color: whitesmoke;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  box-shadow: $box-shadow-light;
}

.description {
  font-size: 2rem;
  margin-bottom: 2rem;
}
